p {
    /* color: white; */
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin:0px;
    padding-top:75px;
    padding-left: 95px;
    padding-right: 25px;
    background-color: rgb(248,248,248);
}