.header{
    /* height: 55px; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:55px;
    background-color: white;
    border-bottom: 1px solid rgb(160, 160, 160);
    z-index: 100;
    
}
.left{
    display: flex;
    align-items: center;

}
 .hamburger-menu{
    height:24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}

.middle{
    display: flex;
    align-items: center;
    flex:1;
    margin-left: 35px;
    margin-right: 70px;
    max-width: 500px;
   
}
.search-bar{
    height:34px;
    flex:1;
    padding-left: 10px;
    font-size: 16px;
    border:1px solid rgb(192, 192, 192);
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
        box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05) ;
    width:0;
}
.search-bar::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
}

.search-button{
    height: 34px;
    width: 60px;
    margin-left: -1px;
    margin-right: 10px;
    border:1px solid rgb(192, 192, 192);
    background-color: rgb(240,240,240);
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}
.search-button,
.voice-search-button,
.youtube-apps-container,
.upload-icon-container,
.notifiaction-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
    cursor: pointer; 
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifiaction-container .tooltip{
    position:absolute;
    bottom:-30px;
    font-family: Roboto,Arial;
    font-size:12px;
    background-color: gray;
    color: white;
    padding: 2px 2px 6px 6px;
    opacity: 0;
    border-radius: 3px;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifiaction-container:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height:24px;
    /* margin-top: 3.5px; */

}
.voice-search-button{
    height: 34px;
    width: 34px;
    border-radius: 18px;
    border: none;
    background-color: rgb(245, 245, 245);
}
.voice-search-icon{
    height: 24px;
    /* margin-top:4px; */
}


.right{
    width:180px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-right:25px;
    flex-shrink: 0;
}
.upload-icon{
    height:26px;
}
.youtube-apps-icon{
    height:26px;
}.notification-icon{
    height:26px;
}
.notification-no{
    position:relative;
}
.noti-count{
    position: absolute;
    height:16px;
    width: 16px;
    top:0;
    right:0;
    background-color: red;
    color:white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:13px;
}
.ankit-logo{
    height:36px;
}

