.sidebar{
    position:fixed;
    top:55px;
    left:0px;
    bottom:0px;
    width:80px;
    background-color: white;
    z-index:200;
    padding-top: 5px;
}
.side-bar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.side-bar-link div{
    font-family: Roboto,arial;
    font-size:10px;
}
.side-bar-link:hover{
    background-color: rgb(235 235 235);
    cursor: pointer;
}
.side-bar-link img{
    height: 24px;   
}