.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.profile-pic {
    width: 36px;
    border-radius: 25px;
    cursor: pointer;
}

.video-title {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}

.video-author,
.video-view {
    font-size: 14px;
    color: rgb(96, 96, 96)
}

.video-author {
    margin-bottom: 4px;
}

.thumbnail-row {
    /* margin-top: 13px; */
    margin-bottom: 12px;
    position: relative;
    
}

.video-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.All-video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width:850px){
    /* .video-title span{
        display: none;
    } */
    .All-video-grid{
    grid-template-columns: 1fr 1fr;
    }
}
 @media (min-width:851px) and (max-width:1199){
    .All-video-grid{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1200px){
    .All-video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} 

.video-time{
    position: absolute;
    background-color: black;
    color:white;
    bottom: 7px;
    right:5px;
    font-family: Roboto, arial;
    font-size: 12px;
    font-weight:500;
    padding:4px 4px 4px 4px;
    border-radius: 6px; 
}


.shorts-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); */

    column-gap: 16px;
}
.shorts-title {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}
.shorts-view {
    font-size: 14px;
    color: rgb(96, 96, 96)
}

.touch-pic{
    position: relative;
}
.touch-pic .tooltap{
    position: absolute;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    bottom: -70px;
    padding: 4px 8px 8px 8px ;
    display: grid;
    grid-template-columns: 50px 1fr;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}
.touch-pic:hover .tooltap{
    opacity: 1;
}
.touch-pic .video-atr{
    font-size:15px;
    font-family: Roboto,arial;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.touch-pic .video-subscriber{
    color:gray
}
.touch-pic .tooltap .profile-pic{
    width:45px;
}